@tailwind base;
@tailwind components;
@tailwind utilities;
@use '~antd/dist/antd.css';
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

@keyframes arrowBounce {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-20px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.arrow-bounce {
  animation: arrowBounce 1000ms infinite;
}

.pl-81 {
  padding-left: 81px;
}
.pl-250 {
  padding-left: 250px;
}
.top-150 {
  top: 150px;
}
.top-200 {
  top: 200px;
}
.top-250 {
  top: 250px;
}
.top-300 {
  top: 300px;
}
.top-350 {
  top: 350px;
}
.top-400 {
  top: 400px;
}
.top-450 {
  top: 450px;
}
.top-500 {
  top: 500px;
}
:where([class*='css-dev-only-do-not-override']).ant-tree
  .ant-tree-checkbox-indeterminate
  .ant-tree-checkbox-inner:after {
  background-color: #638bb3;
}
:where([class*='css-dev-only-do-not-override']).ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  background-color: #638bb3;
  border-color: #638bb3;
}
:where([class*='css-dev-only-do-not-override']).ant-tree
  .ant-tree-checkbox:hover
  :where([class*='css-dev-only-do-not-override']).ant-tree
  .ant-tree-checkbox-wrapper-checked:not(.ant-tree-checkbox-wrapper-disabled):hover
  .ant-tree-checkbox-inner,
:where([class*='css-dev-only-do-not-override']).ant-tree
  .ant-tree-checkbox-checked:not(.ant-tree-checkbox-disabled):hover
  .ant-tree-checkbox-inner {
  background-color: #1b2833;
}

:where([class*='css-dev-only-do-not-override']).ant-tree
  .ant-tree-checkbox:hover
  :where([class*='css-dev-only-do-not-override']).ant-tree
  .ant-tree-checkbox-wrapper:not(.ant-tree-checkbox-wrapper-disabled):hover
  .ant-tree-checkbox-inner,
:where([class*='css-dev-only-do-not-override']).ant-tree
  .ant-tree-checkbox:not(.ant-tree-checkbox-disabled):hover
  .ant-tree-checkbox-inner {
  border-color: #1b2833;
}
@media (max-width: 820px) {
  :where([class*='css-dev-only-do-not-override']).ant-tree .ant-tree-checkbox .ant-tree-checkbox-inner:after {
    left: 25%;
  }
  :where([class*='css-dev-only-do-not-override']).ant-tree
    .ant-tree-checkbox-indeterminate
    .ant-tree-checkbox-inner:after {
    left: 50%;
  }
}
